/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(234,82,248);
    background: linear-gradient(90deg, rgba(234,82,248,1) 28%, rgba(0,102,255,1) 99%)
}

.wrapper {
    max-width: 350px;
    min-height: 300px;
    margin: 150px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    
}
