<div>
	<form action="{{ url_for("index")}}" method="post">
	<label for="Team_name">Team Name:</label>
	<input type="text" id="teamname_id" name="team_id" placeholder="teamname">
	<label for="Team_leader">Team Leader Name:</label>
	<input type="text" id="lead_id" name="lead_name" placeholder="leadname">
	<label for="Team_leader">Team first Name:</label>
	<input type="text" id="one_id" name="firstname" placeholder="firstname">
	<label for="Team_leader">Team second Name:</label>
	<input type="text" id="two_id" name="secondname" placeholder="secondname">
	<label for="Team_leader">Team third Name:</label>
	<input type="text" id="three_id" name="thirdname" placeholder="thirdname">
	<label for="Team_leader">Team fourth Name:</label>
	<input type="text" id="four_id" name="fourthname" placeholder="fourthname">
	<button type="submit">Submit</button>

</div>