<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Table Style</title>
    <meta
      name="viewport"
      content="initial-scale=1.0; maximum-scale=1.0; width=device-width;"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="style4.css" />
  </head>

  <body>
    <div class="table-title">
      <h3>Data Table</h3>
    </div>
    <table class="table-fill">
      <thead>
        <tr>
          <th class="text-left">Name</th>
          <th class="text-left">Tasks</th>
          <th class="text-left">Append</th>
        </tr>
      </thead>
      <tbody class="table-hover">
        <tr>
          <td class="text-left"></td>
          <td class="text-left"></td>
          <td class="text-left">
            <a href="append.html"><button type="button" class="btn btn-primary">Append Task</button></a>
          </td>
        </tr>
        <tr>
          <td class="text-left"></td>
          <td class="text-left"></td>
          <td class="text-left">
            <a href="append.html"><button type="button" class="btn btn-primary">Append Task</button></a>
          </td>
        </tr>
        <tr>
          <td class="text-left"></td>
          <td class="text-left"></td>
          <td class="text-left">
            <a href="append.html"><button type="button" class="btn btn-primary">Append Task</button></a>
          </td>
        </tr>
        <tr>
          <td class="text-left"></td>
          <td class="text-left"></td>
          <td class="text-left">
            <a href="append.html"><button type="button" class="btn btn-primary">Append Task</button></a>
          </td>
        </tr>
        <tr>
          <td class="text-left"></td>
          <td class="text-left"></td>
          <td class="text-left">
            <a href="append.html"><button type="button" class="btn btn-primary">Append Task</button></a>
          </td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-danger" id="btnFetch">TEMPORARY BUTTON TO FETCH DATA</button>
	<center>
	<a href="teamdet.html"><button type="button" class="btn btn-primary">Create Team</button></a>
	<a href=task><button type="button" class="btn btn-primary">Create Task</button></a>
  <center></body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="script.js"></script>
</html>
